/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* My CSS begins below the reset. */
html {
    font-size:10px;
}
body {
    margin:0 45rem;
   /* border:0.2rem solid black; */
    height:105vh;
}
header {
    margin:1rem 1rem;
    display:flex;
    justify-content:space-between;
}
header .flexNav {
    display:flex;
    justify-content:space-around;
    margin:2.5rem 2.5rem;
    width:65rem;
    margin-left:2rem;
}
header .flexNav .navItem {
    color:black;
    font-size:1.4rem;
    text-decoration:none;
    font-weight:bold;
}
/* Top content in about page */
.top-content-about {
    margin:2rem 0;
}
.top-content-about img.jumbo-about {
    margin:0 0;
}
/* Same name as in index html file, so use higher specificity */
/* About section at top of about page */
div.top-content-about div.top-content {
    font-size:1.6rem;
    height:12rem;
    margin:1.5rem 0;
}
div.top-content-about div.top-content h2 {
    font-size:2rem;
}

.top-content {
    display:flex;
    justify-content:space-between;
    height:32rem;
}
.top-content .text-container {
    font-size:1.4rem;
    margin:1.5rem 0.5rem;
    padding:1rem;
    font-weight:bold;
}
.top-content .text-container h1 {
    font-size:2rem;
}
/* End of top cotent about page css */

/* middle-content-about flex container */
.middle-content-about {
    display:flex;
    flex-flow:row wrap;
    height:120vh;
}
.middle-content-about .imgs {
    height:45rem;
    width:35rem;
    margin:1.5rem;
    font-size:1.2rem;
    border-bottom:0.1rem dashed black;
}
.middle-content-about .imgs a {
    font-size:1.6rem;
    border:0.2rem solid black;
    text-decoration:none;
    padding:1rem 1.5rem;
    border-radius:0.6rem;
    color:black;
}
.middle-content-about .imgs .text-container {
    /* border:0.2rem solid black; */
    margin:2rem 0;
    padding-right:0.2rem;
}
.middle-content-about .imgs .text-container h2 {
    font-size:2rem;
}
.middle-content-about .imgs .text-container p {
    font-size:1.6rem;
}

/* End of middle cotent about page css */
.middle-content h2 {
    font-weight:bold;
}
.middle-content .boxes {
    display:flex;
    flex-flow:row wrap;   
    align-content:center; 
}
.middle-content .boxes .box {
    width:10rem;
    height:10rem;
    font-size:1.6rem;
}
.middle-content .boxes .box1 {
    background-color:teal;
}
.middle-content .boxes .box2 {
    background-color:gold;
}
.middle-content .boxes .box3 {
    background-color:cadetblue;
}
.middle-content .boxes .box4 {
    background-color:coral;
}
.middle-content .boxes .box5 {
    background-color:crimson;
}
.middle-content .boxes .box6 {
    background-color:forestgreen;
}
.middle-content .boxes .box7 {
    background-color:darkorchid;
}
.middle-content .boxes .box8 {
    background-color:hotpink;
}
.middle-content .boxes .box9 {
    background-color:indigo;
}
.middle-content .boxes .box10 {
    background-color:dodgerblue;
}
.bottom-content {
    display:flex;
    justify-content:space-between;
    align-content:center;
    margin:2rem 0;
}
.bottom-content .text-container {
    width:15rem;
    height:15rem;
    margin:0.5rem;
    padding:0.5rem;
    font-weight:bold;
}
.bottom-content .text-container h2 {
    font-size:1.8rem;    
}
.bottom-content .text-container p {
    font-size:1.4rem;
}
/* Last class bottom of the about page */
.last {
    font-size:1.6rem;
    margin:3rem 0;
}

